@{
    ViewData["Title"] = "首页";
}

<div class="container">
    <div class="metro-grid">
        <a asp-area="Blog" asp-controller="Home" asp-action="Index">
            个人日记
        </a>
        <a asp-area="Document" asp-controller="Home" asp-action="Index">
            文档
        </a>
        <a asp-area="Tool" asp-controller="Home" asp-action="Index">
            工具
        </a>
        <a asp-area="Forum" asp-controller="Home" asp-action="Index">
            圈子(DEMO)
        </a>
        <a asp-area="Shop" asp-controller="Home" asp-action="Index">
            <div class="name">商城(DEMO)</div>
            <p class="desc">商品来源于淘宝联盟</p>
        </a>
        <a class="unknow" asp-area="Cms" asp-controller="Home" asp-action="Index">
            <img src="~/assets/images/zd_seo.jpg" alt="">
            CMS(DEMO)
        </a>
        <a asp-area="Gzo" asp-controller="Home" asp-action="Index">
            Generator
        </a>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="panel">
                <div class="panel-header">
                    <a asp-area="Blog" asp-controller="Home" asp-action="Index">最新日记</a>
                </div>
                <div class="panel-body">
                    <blog-panel></blog-panel>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel">
                <div class="panel-header">
                    <a asp-area="Note" asp-controller="Home" asp-action="Index">便签</a>
                </div>
                <div class="panel-body scoll-box">
                    <div class="note-item">
                     </div>
                    <a asp-area="Note" class="more">查看更多</a>
                </div>
            </div>
        </div>
    </div>
</div>