@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
    <div id="cookieConsent" class="dialog-cookie-tip">
        <div class="dialog-body">
            访问本站，表示您已同意使用Cookies，本站不会主动泄露您的隐私信息。                <a asp-area="" asp-controller="Home" asp-action="Privacy">了解更多</a>
        </div>
        <div class="dialog-footer">
            <button type="button" class="btn" data-cookie-string="@cookieString">Accept</button>
        </div>
    </div>
    <script>
        (function () {
            var button = document.querySelector("#cookieConsent button[data-cookie-string]");
            button.addEventListener("click", function (event) {
                document.cookie = button.dataset.cookieString;
            }, false);
        })();
    </script>
}
