@page
@using NetDream.Shared.Helpers
@model NetDream.Razor.Pages.Blog.ArchivesModel
@{
}
<div id="book-page" class="book-skin">
    <div class="book-title">
        <ul class="book-nav">
            <li class="book-navicon">
                <i class="fa fa-bars"></i>
            </li>
            <li class="active">
                <a>归档</a>
            </li>
        </ul>
    </div>

    <div class="book-body">
        <div class="book-sort">
            <a asp-area="" asp-page="Category">分类</a>
            <a asp-area="" asp-page="Tag">标签</a>
            <a class="active">归档</a>
        </div>
        <div class="time-axis">
            @foreach (var archives in Model.Items)
            {
                <div class="time-title">
                    <div class="time-year">@archives.Year</div>
                </div>
                <div class="time-items">
                    @foreach (var item in archives.Children)
                    {
                        <a class="time-item" asp-area="" asp-page="Detail" asp-route-id="@item.Id">
                            <div class="title">@item.Title</div>
                            <div class="time">@TimeHelper.Format(item.CreatedAt, "MM-dd")</div>
                        </a>
                    }
                </div>
            }
        </div>
    </div>


</div>


