
@{
    ViewData["Title"] = "Code Exchange";
    Layout = "../Shared/_Layout.cshtml";
}

<div class="page-tooltip-bar">
    <p class="tooltip-header">操作提示</p>
    <ul>
        <li>代码转换</li>
    </ul>
    <span class="tooltip-toggle"></span>
</div>


<form class="form-default" data-type="ajax" asp-controller="Template" asp-action="Exchange" method="post">
    <div class="row form-inline">
        <div class="col-md-6">
            <div class="input-group">
                <label for="source">源语言</label>
                <input type="text" id="source" name="source" class="form-control" placeholder="源代码语言">
            </div>
        </div>
        <div class="col-md-6">
            <div class="input-group">
                <label for="target">转换语言</label>
                <input type="text" id="target" name="target" class="form-control" placeholder="转换代码语言" required>
            </div>
        </div>
    </div>
    <div class="input-group">
        <label for="content">代码</label>
        <textarea name="content" id="content" rows="20" class="form-control" placeholder="代码"></textarea>
    </div>
    <button class="btn" type="button" data-type="preview">预览转换</button>
</form>
