
@{
    ViewData["Title"] = "Model";
    Layout = "../Shared/_Layout.cshtml";
}

<div class="page-tooltip-bar">
    <p class="tooltip-header">操作提示</p>
    <ul>
        <li>生成数据模型模型</li>
    </ul>
    <span class="tooltip-toggle"></span>
</div>

<form class="form-inline" data-type="ajax" asp-controller="Template" asp-action="Model" method="get">
    <div class="input-group">
        <label for="table1">数据表</label>
        <select name="table" id="table1" class="form-control" required>
            <option value="">请选择</option>
        </select>
    </div>
    <div class="input-group">
        <label for="module1">模块名</label>
        <input type="text" id="module1" name="module" class="form-control" placeholder="示例：Home">
    </div>
    <div class="btn-group mt-30">
        <button class="btn btn-primary">生成</button>
        <button type="button" data-type="preview" class="btn btn-info">预览</button>
    </div>
</form>

@section Scripts {
    <script>
        $(function () {
            bindCurd();
        });
    </script>
}
