@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@section LayoutStyles {
    <link type="text/css" href="~/assets/css/prism.min.css" rel="stylesheet" media="all">
    <link type="text/css" href="~/assets/css/gzo.min.css" rel="stylesheet" media="all">
    <script>
        var BASE_URI = '/Gzo/';
    </script>
}

@section Navbar {
    <ul>
        <li class="menu-item">
            <a asp-area="Gzo" asp-controller="Home" asp-action="Index"><i class="fa fa-home menu-icon"></i><span class="menu-name">首页</span></a>
        </li>
        <li class="expand menu-item">
            <a href="javascript:;"><i class="fa fa-file-alt menu-icon"></i><span class="menu-name">模板管理</span><i class="menu-icon-arrow"></i></a>
            <ul class="menu-children">
                <li class="menu-item">
                    <a asp-area="Gzo" asp-controller="Home" asp-action="Controller"><i class="fa fa-cogs menu-icon"></i><span class="menu-name">生成控制器</span></a>
                </li>
                <li class="menu-item">
                    <a asp-area="Gzo" asp-controller="Home" asp-action="Model"><i class="fa fa-cubes menu-icon"></i><span class="menu-name">生成数据模型</span></a>
                </li>
                <li class="menu-item">
                    <a asp-area="Gzo" asp-controller="Home" asp-action="Migration"><i class="fa fa-cubes menu-icon"></i><span class="menu-name">生成生成器</span></a>
                </li>
                <li class="menu-item">
                    <a asp-area="Gzo" asp-controller="Home" asp-action="Crud"><i class="fa fa-drum menu-icon"></i><span class="menu-name">生成CRUD</span></a>
                </li>
            </ul>
        </li>
        <li class="expand menu-item">
            <a href="javascript:;"><i class="fa fa-briefcase menu-icon"></i><span class="menu-name">模块管理</span><i class="menu-icon-arrow"></i></a>
            <ul class="menu-children">
                <li class="menu-item">
                    <a asp-area="Gzo" asp-controller="Home" asp-action="Module"><i class="fa fa-link menu-icon"></i><span class="menu-name">安装模块</span></a>
                </li>
                <li class="menu-item">
                    <a asp-area="Gzo" asp-controller="Home" asp-action="Module?status=1"><i class="fa fa-unlink menu-icon"></i><span class="menu-name">卸载模块</span></a>
                </li>
                <li class="menu-item">
                    <a asp-area="Gzo" asp-controller="Home" asp-action="Module?status=2"><i class="fa fa-terminal menu-icon"></i><span class="menu-name">生成模块</span></a>
                </li>
            </ul>
        </li>
        <li class="menu-item">
            <a href="javascript:;"><i class="fa fa-database menu-icon"></i><span class="menu-name">数据库管理</span><i class="menu-icon-arrow"></i></a>
            <ul class="menu-children">
                <li class="menu-item">
                    <a asp-area="Gzo" asp-controller="Home" asp-action="Sql"><i class="fa fa-search menu-icon"></i><span class="menu-name">数据库查询</span></a>
                </li>
                <li class="menu-item">
                    <a asp-area="Gzo" asp-controller="Home" asp-action="Export"><i class="fa fa-cloud-download-alt menu-icon"></i><span class="menu-name">导出数据</span></a>
                </li>
                <li class="menu-item">
                    <a asp-area="Gzo" asp-controller="Home" asp-action="Import"><i class="fa fa-cloud-upload-alt menu-icon"></i><span class="menu-name">导入数据</span></a>
                </li>
                <li class="menu-item">
                    <a asp-area="Gzo" asp-controller="Home" asp-action="Copy"><i class="fa fa-copy menu-icon"></i><span class="menu-name">数据复制</span></a>
                </li>
            </ul>
        </li>
        <li class="menu-item">
            <a asp-area="Gzo" asp-controller="Home" asp-action="Exchange">
                <i class="fa fa-code menu-icon"></i>
                <span class="menu-name">代码转换</span>
            </a>
        </li>
    </ul>

}

@RenderBody()

@section LayoutScripts {
    <script src="~/assets/js/prism.min.js"></script>
    <script src="~/assets/js/gzo.min.js"></script>
    @RenderSection("Scripts", required: false)
}