@using NetDream.Web.Areas.Blog.Models;
@using NetDream.Core.Helpers;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Tag";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var items = ViewData["items"] as List<BlogArchives>;
}

@section Styles {
    <link type="text/css" href="~/assets/css/blog.css" rel="stylesheet" media="all">
}
<div id="book-page" class="book-skin">
    <div class="book-title">
        <ul class="book-nav">
            <li class="book-navicon">
                <i class="fa fa-bars"></i>
            </li>
            <li class="active">
                <a>归档</a>
            </li>
        </ul>
    </div>

    <div class="book-body">
        <div class="book-sort">
            <a asp-area="Blog" asp-controller="Category" asp-action="Index">分类</a>
            <a asp-area="Blog" asp-controller="Tag" asp-action="Index">标签</a>
            <a class="active">归档</a>
        </div>
        <div class="time-axis">
            @foreach (var archives in items)
            {
                <div class="time-title">
                    <div class="time-year">@archives.Year</div>
                </div>
                <div class="time-items">
                    @foreach (var item in archives.Items)
                    {
                        <a class="time-item" href="@Url.Action("Detail", "Home", new { id=item.Id})">
                            <div class="title">@item.Title</div>
                            <div class="time">@Time.Format(item.CreatedAt, "MM-dd")</div>
                        </a>
                    }
                </div>
            }
        </div>
    </div>


</div>


@section Scripts {
    <script src="~/assets/js/blog.min.js"></script>
    <script>
        var BASE_URI = '/Blog/';
    </script>
}

